[buildout]
parts = django
cwd = {{CWD}}
eggs = ${django:project}

[django]
recipe = isotoma.recipe.django
version = 1.2.3
project = causal
projectegg = ${django:project}
settings = settings
test = causal
apps = main