import os
import sys

# Add virtual site-packages if you're using virtualenv
#import site
#VIRTUAL_ENV_PATH = '/home/my_user/virtualenvs/helios'
#site.addsitedir('%s/lib/python2.5/site-packages' % VIRTUAL_ENV_PATH)

# Put the Django project on sys.path
BASE_DIR = os.path.normpath(os.path.dirname(__file__))
my_paths = (
	BASE_DIR,
)

sys.path.extend(my_paths)

os.environ['DJANGO_SETTINGS_MODULE'] = 'helios.settings'
os.environ['PYTHON_EGG_CACHE'] = os.path.join(BASE_DIR, 'egg-cache')

from django.core.handlers.wsgi import WSGIHandler
application = WSGIHandler()

