{% extends "base.html" %}

{% block content %}
<div class="form-data">
    <h1>These services are configured</h1>
    <ul>
        {% for service in enabled_services %}
            <li>{{ service }}</li>
        {% endfor %}
    </ul>
    <h1>Why not add the following?</h1>
    <ul>
        {% for service in available_services_oauth %}
            <li><a href="/{{service}}/auth">{{ service }}</a></li>
        {% endfor %}
        {% for service in available_services_username %}
            {% if service == "lastfm" %}
            <li><h2>{{ service }}</h2>
                <form action="/lastfm/auth" method="post">
                    <label for="id_username">Username:</label>
                    <input type="text" name="username" id="id_username" /><input type="submit" value="Submit" />
                </form>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}