{% load media_loaders %}

<div class="stats">
    <div id="main" class="clearfix"> 
        <div id="centre">
        {% if pictures %}
            <h3>Uploads</h3>
            <ul>
                <li>Total uploads this week: {{number_of_pictures_uploaded}}</li>
        
                {% if most_commented_picture.body %}
                <li>Most commented picture: </br><a href="{{most_commented_picture.link_back}}"><img src="{{most_commented_picture.url_small}}"/> </a> </li>
                {% endif %}
        
            </ul>
            
            <h3>Camera Usage</h3>
            <ul>
                {% for cam, count in cameras_used.items %}
                <li>{{cam}} : {{count}} {%if count == 1 %} pic {%else%}pics{%endif%}</li>
                {% endfor %}
            </ul>
        
            <h3> Pics</h3>
            <ul>
            {% for pic in pictures %}
            <li>
                 <a href="{{pic.link_back}}"><img src="{{pic.url_small}}"/></a> </br>
                 Tags: 
                 {% for tag in pic.tags %}
                     {{tag.raw}}{% if not forloop.last %},{% endif%}
                 {% endfor %}
                 </br>
                 Camera: {{pic.camera_make}}
            </li>
           {% endfor %}
           </ul>
        {% else %}
            <h2> No pictures uploaded this week, I'm afraid.</h2>
        {% endif %}
            <div class="clearfix"></div> 
            <div id="right"></div> <! --#right --> 
        </div> <!-- #centre --> 
    </div> <!-- #main --> 
</div> <!-- #stats --> 