{% extends "causal/base.html" %}
{% load extras %}

{% block head %}
<title>Welcome</title>
{% endblock head %}

{% block primary %}
    <div id="secondary-header"> 
	<div class="shaded"> 
		<h2 class="tag"><span>your life laid out</span></h2> 
		<p>some text here <br /> 
		   to make folks want to join</p> 
		
		<a href="#" class="join"><span class="hide">Join now</span></a> 
	</div> 
	<img class="scatter" src="/static/images/scatter.png" /> 
    </div> <!-- #secondary-header --> 
{% endblock primary %}
