{% extends "causal/base.html" %}
{% load extras %}
{% load media_loaders %}

{% block head %}
    {% load_css "cupertino/jquery-ui.css" %}
    {% load_css "tabs.css" %}
    {% load_js "jquery-ui.min.js" %}
    {% load_js "//maps.google.com/maps/api/js?sensor=false" %}
{% endblock head %}

{% block primary %}
    <div id="all-services" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
    <div id="connections">        
    <ul>
    {% for connection in connections %}
    
       <li class="{{connection.clazz_name}}"><a href="{{connection.link_back}}">{{connection.created_date}}</a>{% if connection.title %} {{connection.title}} {% endif %} {{connection.body|safe }}</li>
    
    {% endfor %}
    <ul>
    </div>
    </div>
{% endblock primary %}
