{% extends "base.html" %}
{% load extras %}

{% block head %}
    <script type="text/javascript">
    // <![CDATA[
    var days = {
        {% for day in days %}
            {{ forloop.counter0 }}: []{% if not forloop.last %},{% endif %}
        {% endfor %}
    };
    var item_sort_callback = function(a, b) {
        return a['created'] - b['created'];
    }
    var success = function(data) {
        $('li#service_load_' + data['class']).addClass('loaded');
        data = data['items'];
        for (i in data) {
            days[i] = days[i].concat(data[i]);
            day = days[i];
            day_ul = $('ul#day_' + i);
            day_ul.children('li').remove();
            days[i].sort(item_sort_callback);
            days[i].reverse();
            for (j in day) {
                item = day[j];
                day_ul.append($('#item_template').jqote(item, '*'));
            }
        }
    }
    var load_services = function() {
        {% for service in services %}
            $.get("{{ service.get_absolute_url }}", {}, success, 'json');
        {% endfor %}
    }
    $(function() {
        setTimeout(load_services, 500);
    });
    // ]]>
    </script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script>
        //<![CDATA[
        $(function() {
            $('#tabs').tabs({
                load: function(event, ui) {
                    $('a', ui.panel).click(function() {
                        $(ui.panel).load(this.href);
                        return false;
                    });
                }
            });
        });
        //]]>
    </script>
{% endblock %}

{% block primary %}
    <div id="tabs">
        <ul>
            <li><a href="#all-services"><span>History</span></a></li>
            {% for service in services %}
                {% if service|stats_url %}
                <li><a href="{{ service|stats_url }}">{{ service.app.module.DISPLAY_NAME }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div id="all-services">
            <ul id="loading-services">
                {% for service in services %}
                    <li id="service_load_{{ service.class_name }}">{{ service.app.module.DISPLAY_NAME }}</li>
                {% endfor %}
            </ul>
            {% for items in days %}
                <ul id="day_{{ forloop.counter0 }}">
                    <lh>{{ day_names|get:forloop.counter0 }}</lh>
                </ul>
            {% endfor %}
        </div>
        {% for service in services %}
                <div id="{{ service.class_name }}-stats"></div>
            {% endfor %}
        </ul>
    </div>
    <script type="text/x-jqote-template" id="item_template">
        <![CDATA[
        <li class="<*= this.class_name *>">
            <*= this.created_date *>:
            <*= this.title ? this.title : '' *>
            <*= (this.title && this.body) ? '&ndash;' : '' *>
            <*= this.body ? this.body : '' *>
        </li>
        ]]>
    </script>
{% endblock primary %}
