{% load media_loaders %}

<div class="stats">
    <div id="main" class="clearfix"> 
        <div id="centre"> 
            <h3>Posts</h3>
            <ul>
            {% for post in posts %}
            <li>{{post.created}} - <a href="{{post.link_back}}">{{post.title}}</a></li>
            {% endfor %}
            </ul>
            <div class="clearfix"></div> 
            <div id="right"></div> <! --#right --> 
        </div> <!-- #centre --> 
    </div> <!-- #main --> 
</div> <!-- #stats -->             