{% load media_loaders %}

<div class="stats">

<div id="main" class="clearfix"> 

    <div id="centre"> 
    <h2>Statistics for last.fm</h2> 
    <ul> 
	<li> 
	<h2> Most played artists for the last 7 days</h2> 
	<ol class="numbered"> 
        {% for artist in favourite_artists %}
        <li>{{artist.name }}</li>
        {% endfor %}
	</ol> 
	</li> 
	
	<li> 
	<h2>Upcoming Gigs</h2> 
	<ul> 
        {% for artist in favourite_artists %}
            {% if artist.gigs %}
            <li>
                <h3>{{artist.name}}</h3>
	        <ol>
                {% for gig in artist.gigs %}
	        <li>{{gig.date}} at <a href="{{gig.event_url}}">{{gig.venue_name}}</a></li>
                {% endfor %}
	        </ol>
            </li>
            {% endif %}
        {% endfor %}	
	</ul>
    </div> <!-- #centre --> 
				
    <div class="clearfix"></div> 
    <div id="right"></div> <! --#right --> 
</div> <!-- #main --> 
</div> <!-- #stats --> 
