{% load media_loaders %}
{% if favourite_artists %}
    <h1> Most played artists for the last 7 days</h1>
    <ul>
    {% for artist in favourite_artists %}
        <li>{{ forloop.counter }}. {{artist.name }}</li>
    {% endfor %}
    </ul>
<h1>Upcoming Gigs</h1>
    <ul>
    {% for artist in favourite_artists %}
        {% if artist.gigs %}
            <li>
            <h2>{{artist.name}}</h2>
            {% for gig in artist.gigs %}
                <ul>
                    <li>{{gig.date}} at <a href="{{gig.event_url}}">{{gig.venue_name}}</a></li>
                </ul>
            {% endfor %}
            </li>
        {% endif %}
    {% endfor %}
    </ul>

    {% if gig_centre %}
    {% comment %}
        <script type="text/javascript">
  
  function add_marker(map, lat, lng, title, content, logo){
    var info=new MQA.Poi({lat:lat, lng:lng});
    info.setInfoTitleHTML(title);
    info.setInfoContentHTML(content);
    var icon = new MQA.Icon(logo,32,32);
    info.setIcon(icon);
    map.addShape(info);
    
    //info.toggleInfoWindow();
    info.toggleInfoWindowRollover();
    
    
  }
  
  MQA.EventUtil.observe(window, 'load', function() {

  MQA.withModule('mousewheel', function() {
		map.enableMouseWheelZoom();
	});
  
	
  window.map = new MQA.TileMap(
    document.getElementById('map'),
    7,
    {lat:{{gig_centre.location.lat}}, lng:{{gig_centre.location.long}}},
    'map');
 
  MQA.withModule('zoomcontrol3','viewcontrol3', function() {
		
    map.addControl(
      new MQA.LargeZoomControl3(), 
      new MQA.MapCornerPlacement(MQA.MapCorner.TOP_LEFT)
    );
    
                     map.bestFit();             
    map.addControl(
      new MQA.ViewControl3(), 
      new MQA.MapCornerPlacement(MQA.MapCorner.TOP_RIGHT)
    );
    
    map.setZoomLevel(7);
    map.setMapType("map");
    
                {% for artist in favourite_artists %}
                    {% for gig in artist.gigs %}
                        {% if gig.location %}
                            {% if gig.location.lat and gig.location.long %}
        add_marker(map, {{gig.location.lat}}, {{gig.location.long}}, '{{checkin.title}}',
        '<div id="content">{{artist.name}} - {{gig.date}} at <a href="{{gig.event_url}}">{{gig.venue_name}}</a> </br> <img src="{{artist.image}}" /></div>',
	'{{artist.image}}');
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
		
  });
  });
        </script>

        <div id="map" style="width:600px; height:600px"></div>
{% endcomment %}
	{% endif %}
{% else %}
    <h1>No plays this week!</h1>
    <p>Kick back and listen to some tunes.</p>
{% endif %}
