{% extends "base.html" %}
{% load extras %}

{% block head %}
    <script src="/static/js/iphone-style-checkboxes.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/css/iphone-style-checkboxes.css" type="text/css" media="screen" />
    <script>
        //<![CDATA[
        $(function() {
            $('.share_control').iphoneStyle({
                checkedLabel: 'Shared',
                uncheckedLabel: 'Private'
            });
            $('.share_control').parent('div').addClass('share_wrapper');
            $('form#share-prefs-form').submit(function() {
                $.post(
                    this.action,
                    $(this).serialize(),
                    function(data) {
                        console.log(data);
                    }
                );
                return false;
            });
        });
        //]>
    </script>
{% endblock head %}

{% block primary %}
    <div class="form-data">
        {% if enabled_services %}
            <form id="share-prefs-form" method="post" action="{% url share-prefs %}">
                <h3>Enabled services:</h3>
                <ul>
                    {% for service in enabled_services %}
                        <li>
                            {% if service.get.setup %}
                            {% include service.form_template_path %}
                            <input type="checkbox" name="service_{{ service.pk }}" class="share_control" {% if service.share %}checked="checked"{% endif %}/>
                            {% if not forloop.last %}
                                <hr/>
                            {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <div class="share_buttons">
                    <input type="submit" value="Save sharing"/>
                </div>
            </form>
        {% endif %}
        {% if available_services %}
            <h3>You can enable these services:</h3>
            <ul>
                {% for service in available_services %}
                    <li><a href="{% url enable-service service.id %}">{{ service.module.DISPLAY_NAME }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock primary %}
