{% load media_loaders %}

<div class="stats">
    <div id="main" class="clearfix"> 
        <div id="centre">
            <h3>Sites Shared From</h3>
            <ul>
                {% if sources %}
                <li>
                    <img src="http://chart.apis.google.com/chart?chs=800x370&cht=p3&chd=t:{% for a, t in sources.iteritems %}{{t}}{% if not forloop.last %},{% endif%}{%endfor%}&chdl={% for source in sources %}{{source}}{% if not forloop.last %}|{% endif%}{%endfor%}&chco=3072F3" width="800" height="300" alt="" />
                </li>
                <li>
                    <img src="http://chart.apis.google.com/chart?&chxl=1:|{% for source in sources_reversed %}{{source}}{% if not forloop.last %}|{% endif%}{%endfor%}&chxt=x,y&chbh=a&chs=440x220&cht=bhs&chco=4D89F9,C6D9FD&chds=0,10&chxr=0,0,10&chd=t:{% for a, t in sources.iteritems %}{{t}}{% if not forloop.last %},{% endif%}{%endfor%}&chtt=Shared+Sites" alt="Shared Sites" />
                </li>
                {% else %}
                    <h4>Nothing shared, get sharing!</h4>
                {% endif %}
            </ul>
            <div class="clearfix"></div> 
            <div id="right"></div> <! --#right --> 
        </div> <!-- #centre --> 
    </div> <!-- #main --> 
</div> <!-- #stats -->      