<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=false">
</script>

<script type="text/javascript">

function add_marker(map, lat, longg, contentString){
    var myLatlng = new google.maps.LatLng(lat, longg);
    var marker = new google.maps.Marker({
      position: myLatlng, 
      map: map,
    });

    var infowindow = new google.maps.InfoWindow({
    content: contentString
    }); 
      
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
    });
}  

  function initialize() {
    var latlng = new google.maps.LatLng(53.853418499999997, -0.44196809999999997);
    var myOptions = {
      zoom: 10,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);
    {% for checkin in checkins %}{% if checkin.location %}
        add_marker(map, {{checkin.location.lat}}, {{checkin.location.long}}, '{{checkin.created}} : {{checkin.title}}'); 
    {% endif %}{% endfor %}       
  }
  
$(document).ready(function() {
    initialize();
});  
  
</script>

<div id="map_canvas" style="width:600px; height:600px"></div>

Places checked into:
<ul>
{% for checkin in checkins %}

<li>{{checkin.title}}</li>

{% endfor %}
</ul>