<script type="text/javascript">
    //<![CDATA[
function add_marker(map, lat, longg, contentString){
    var myLatlng = new google.maps.LatLng(lat, longg);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
    });

    var infowindow = new google.maps.InfoWindow({
    content: contentString
    });

    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
    });
}

  function initialize() {
    var latlng = new google.maps.LatLng({{checkin_centre.location.lat}}, {{checkin_centre.location.long}});
    var myOptions = {
      zoom: 16,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);
    {% for checkin in checkins %}{% if checkin.location %}
        add_marker(map, {{checkin.location.lat}}, {{checkin.location.long}},
        '{% if checkin.icon %}<img src="{{ checkin.icon }}" />{% endif %} {{checkin.created}} : <a href="{{checkin.link_back}}">{{checkin.title}}</a>');
    {% endif %}{% endfor %}
  }

$(document).ready(function() {
    initialize();
});
    //]]>
</script>

<div id="map_canvas" style="width:600px; height:600px"></div>

Places checked into:
<ul>
{% for checkin in checkins %}

<li>{{checkin.created}} - <a href="{{checkin.link_back}}">{{checkin.title}}</a></li>

{% endfor %}
</ul>