
<script src="http://mapquestapi.com/sdk/js/v6.0.0/mqa.toolkit.js?key=Fmjtd%7Cluu2216t25%2C7x%3Do5-5f70g"></script>

<script type="text/javascript">

  //An example of using the MQA.EventUtil to hook into the window load event and execute defined function 
  //passed in as the last parameter .  You could alternatively create a plain function here and have it 
  //executed when ever you like (e.g. <body onload="yourfunction">).
  MQA.EventUtil.observe(window, 'load', function() { 

    window.map = new MQA.TileMap(       // Constructs an instance of MQA.TileMap
      document.getElementById('map_canvas'),   //the id of the element on the page you want the map to be added into 
      7,                                //intial zoom level of the map
      {lat:39.743943, lng:-105.020089}, //the lat/lng of the map to center on
      'map');                           //map type (map, sat, hyb)
    });
</script>

<div id="map_canvas" style="width:600px; height:600px"/>
Places checked into:
<ul>
{% for checkin in checkins %}

<li>{{checkin.created}} - <a href="{{checkin.link_back}}">{{checkin.title}}</a></li>

{% endfor %}
</ul>