
<script src="http://mapquestapi.com/sdk/js/v6.0.0/mqa.toolkit.js?key=Fmjtd%7Cluu2216t25%2C7x%3Do5-5f70g"></script>

<script type="text/javascript"> 
  MQA.EventUtil.observe(window, 'load', function() {
	
  window.map = new MQA.TileMap(
    document.getElementById('map'),
    7,
    {lat:39.743943, lng:-105.020089}, 
    'map');
 
  MQA.withModule('zoomcontrol3','viewcontrol3', function() {
		
  map.addControl(
    new MQA.LargeZoomControl3(), 
    new MQA.MapCornerPlacement(MQA.MapCorner.TOP_LEFT)
  );
 
				
  map.addControl(
    new MQA.ViewControl3(), 
    new MQA.MapCornerPlacement(MQA.MapCorner.TOP_RIGHT)
  );
 
 
		map.setZoomLevel(13);
		map.setMapType("hyb");
				
		var basic=new MQA.Poi({lat:39.743943, lng:-105.020089});
		basic.setBias({x:-50,y:-50});		
		map.addShape(basic);
		
		var custom=new MQA.Poi( {lat:39.743943, lng:-105.020089} );
		custom.setBias({x:50,y:50});
		var icon = new MQA.Icon("smiley.png",32,32);
		custom.setIcon(icon);
		map.addShape(custom);
 
		var info=new MQA.Poi({lat:39.743943, lng:-105.020089});
		info.setBias({x:50,y:-50});
		info.setInfoTitleHTML('Invesco Field');
		info.setInfoContentHTML('Home of the Denver Broncos');
		map.addShape(info);
		
	});
  });
</script> 

<div id="map" style="width:600px; height:600px"/>
Places checked into:
<ul>
{% for checkin in checkins %}

<li>{{checkin.created}} - <a href="{{checkin.link_back}}">{{checkin.title}}</a></li>

{% endfor %}
</ul>