<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Google Maps JavaScript API Example</title>   
  </head>
  <body>
  <a href="/oauth/twitter/logout">Logout from Twitter</a><br /><br />
  <strong>Screen Name:</strong>{{screen_name}}<br />
  <strong>Location:</strong>{{location}}<br />
  
      <ul>
      {% for tweet in tweets %}
        <li>
        {{tweet.created_at}} : {{tweet.text}} 
	</li>
      {% endfor %}
	</ul>
  </body>
</html>