<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	<title>Application Form</title>
	<link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css" />
    </head>
    
	<body>
	<div id="wrapper" class="clearfix">
	        
		<div id="header" class="clearfix">
		<ul>
		<li><a href="/history/">home</a></li>
		<li><a href="/accounts/profile/">profile</a></li>
		</ul>

		</div>
		<div id="content">
    		<div id="primary" class="clearfix">
		{% block content %}
		{% endblock content %}
	    	</div>
	    	<div id="secondary">
	    	</div>
		</div>

		<div id="footer">
		</div>
	</div> <!-- /wrapper -->
	</body>
</html>
</html>