<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>History</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0px; padding: 0px }
      #map_canvas { height: 100% }
    </style>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.jqote2.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script>
  $(document).ready(function() {
    $("#tabs").tabs();
  });

  $('#tabs').tabs({
    load: function(event, ui) {
        $('a', ui.panel).click(function() {
            $(ui.panel).load(this.href);
            return false;
        });
    }
});
  </script>
    {% block head %}{% endblock head %}
</head>

<body>
    <div id="wrapper" class="clearfix">

	<div id="header" class="clearfix">
	    {% if request.user.is_authenticated %}
		<a href="/history/">home</a> |
		<a href="/accounts/profile/">profile</a> |
		<a href="/accounts/logout/">logout</a>
	    {% else %}
		<form action="/accounts/login/" method="post">
		    {% csrf_token %}
		    <label for="id_username">username:</label>
		    <input id="id_username" type="text" name="username" maxlength="100" />
		    <label for="id_password">password:</label>
		    <input id="id_password" type="text" name="password" maxlength="100" />
		    <input type="submit" value="login" />
		    <a href="/register/">sign up</a>
		</form>
	    {% endif %}
	</div>
	<div id="content">
    	    <div id="primary" class="clearfix">
	    
<div id="tabs">
    <ul>
        <li><a href="#fragment-1"><span>History</span></a></li>
        <li><a href="/twitter/stats"><span>Twitter</span></a></li>
        <li><a href="#fragment-3"><span>Three</span></a></li>
    </ul>
    <div id="fragment-1">
        {% block content %}{% endblock content %}
    </div>
    <div id="fragment-2">
    </div>
    <div id="fragment-3">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    </div>
</div>	    
	    
	    
		
	    </div>
	    <div id="secondary">
	    </div>
	</div>

	<div id="footer">
	</div>
    </div> <!-- /wrapper -->
</body>
</html>