{% extends "base.html" %}
{% load extras %}

{% block head %}
    <script type="text/javascript">
    // <![CDATA[
    var days = {
        {% for day in days %}
            {{ forloop.counter0 }}: []{% if not forloop.last %},{% endif %}
        {% endfor %}
    };
    var item_sort_callback = function(a, b) {
        return a['created'] - b['created'];
    }
    var success = function(data) {
        $('li#service_load_' + data['class']).addClass('loaded');
        data = data['items'];
        for (i in data) {
            days[i] = days[i].concat(data[i]);
            day = days[i];
            day_ul = $('ul#day_' + i);
            day_ul.children('li').remove();
            days[i].sort(item_sort_callback);
            for (j in day) {
                item = day[j];
                day_ul.append('<li>'+item['title']+' - '+item['body']+'</li>');
            }
        }
    }
    var load_services = function() {
        {% for service in services %}
            $.get("{{ service.get_absolute_url }}", {}, success, 'json');
        {% endfor %}
    }
    $(function() {
        setTimeout(load_services, 500);
    }
    );
    // ]]>
    </script>
{% endblock %}

{% block content %}
    <ul id="loading-services">
        {% for service in services %}
            <li id="service_load_{{ service.class_name }}">{{ service.app.module.display_name }}</li>
        {% endfor %}
    </ul>
    {% for items in days %}
        <ul id="day_{{ forloop.counter0 }}">
            <lh>{{ day_names|get:forloop.counter0 }}</lh>
            {% for item in items %}
                <li class="{{ item.class_name }}">
                    {{ item.created.date }}:
                    {% if item.title %}{{ item.title }}{% endif %}
                    {% if item.title and item.body %}&ndash;{% endif %}
                    {% if item.body %}{{ item.body|urlize }}{% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}