{% extends "base.html" %}
{% load extras %}

{% block content %}
    {% for items in days %}
        <h3>{{ day_names|get:forloop.counter0 }}</h3>
        {% if items %}
            <ul>
                {% for item in items %}
                    <li class="{{ item.class_name }}">
                        {% if item.title %}<h4>{{ item.title }}</h4>{% endif %}
                        {{ item.created.date }}: {{ item.body }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
{% endblock %}
