<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>History</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/messages.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/jquery-ui-1.8.5.custom.css" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0px; padding: 0px }
      #map_canvas { height: 100% }
    </style>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.jqote2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.5.custom.min.js"></script>
    {% block head %}{% endblock head %}
</head>

<body>
    <div id="wrapper" class="clearfix">

	<div id="header" class="clearfix">
	    {% if request.user.is_authenticated %}
                <a href="{% url home %}">Home</a> |
                <a href="{% url user-settings %}">Settings</a> |
                <a href="{% url auth_logout %}">Logout</a>
	    {% else %}
                <a href="{% url home %}">Home</a> |
                <a href="{% url auth_login %}">Login</a>
                {% if ENABLE_REGISTRATION %}
                    | <a href="{% url registration_register %}">Sign Up</a>
                {% endif %}
	    {% endif %}
	</div>
	<div id="content">
        <div id="primary" class="clearfix">
            {% block primary %}{% endblock primary %}
	    </div>
	    <div id="secondary">
            {% block secondary %}{% endblock secondary %}
	    </div>
	</div>
	<div id="footer">
	</div>
    </div> <!-- /wrapper -->
</body>
</html>
