HTML {
    height: 100%;
}
BODY {
    font-family: Helvetica,  Arial, FreeSans, sans-serif;
    margin: 0;
    height: 100%;
    background: #F0EDED;
    background: -moz-linear-gradient(top, #F0EDED, #003366) fixed;
    background: -webkit-gradient(linear, left top, left bottom, from(#F0EDED), to(#003366)) fixed;
    color: #000000;
    padding: 5px;
}

li {
    list-style: none;
}

H1 {
   color: #332B40;
   margin: 0;
   border-bottom: 4px solid #CCC;
}
H1 A {
    text-decoration: none;
}
H2 {
    color: #008c74;
    margin: 40px 0 10px 0;
    border-bottom: 3px solid #CCC;
}
H3 {
    color: #333;
    margin: 0;
    padding: 0;
}
P.breadcrumb {
    padding: 0.8em 0.8em 0;
    margin: 0;
    margin-left: 220px;
}
A {
    color: #369;
}
HR {
    background-color: #CCC;
    color: #CCC;
    height: 1px;
    border: 0;
}
#wrapper {
    margin: 30px;
    background: #fff;
}
#header {
    background: #F0F0F0;
    border-bottom: 4px solid #AFBFC3;
    padding: 10px;
}
#header ul,
#index-options
 {
    list-style: none;
    padding: 0;
    margin: 0;
}
#header ul li,
#index-options li {
    float: left;
}
#header A:hover,
#index-options A:hover {
    position: static;
}
#header A:active,
#index-options A:active {
   position:relative;
   top: 1px;
   left: 1px;
}
#header A:focus,
#index-options A:active {
   outline: none;
   background-color: #ccc;
}

#site_nav dl {
    margin: 0;
    padding: 0;
}

#site_nav dt {
    font-size: 1.1em;
    padding: 0.6em 0 0 0;
    color: #D4EDF4;
}

#site_nav dt:first-child {
    padding-top: 0;
    border-top: none;
}

#site_nav dd {
    margin: 0 0 1em 0;
}

#site_nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#site_nav li a {
    text-decoration: none;
}

#content {
    padding: 0.8em;
}

.hide {
    display: none;
}

/***************************************************************
 Smoothness theme
***************************************************************/
.ui-widget { font-size: 0.9em; }
.ui-widget-header { font-weight: normal; }

#header h1 a {
    color: #FFF;
}

table.list-table thead {
    background: #e6e6e6 url(smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
}

.ui-tabs {
    border: none;
}

.ui-tabs .ui-tabs-nav {
    background: none;
    border: none;
    border-bottom: 1px solid #CCC;
    padding-left: 20px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.ui-tabs .ui-tabs-nav li {
    border-color: #CCC;
}
.ui-tabs .ui-tabs-nav li a {
    padding: 0.3em 0.6em;
    font-size: 0.9em;
}


/***************************************************************
 CSS3
***************************************************************/

.button-submit,
#wrapper,
#index-options A,
#login-form {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
#header {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#wrapper,
#login-form,
.button-submit {
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 5px;
}
#index-options A {
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}
#content,
.form-data {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;} /*additional bit in -ie56.css*/
/* End hide from IE Mac */

/* Services */
UL#loading-services LI {
    list-style-image: url(../images/throbber.gif);
}
UL#loading-services LI.loaded {
    list-style-image: url(../images/tick.png);
}
UL#loading-services LI.service-error {
    list-style-image: url(../images/cross.png);
}
UL#loading-services LI.service-error span {
    color: #FF0000;
    font-family: monospace;
    margin-left: 1em;
}
LI.causal-twitter {
    list-style-image: url(../images/twitter.jpg);
}
LI.causal-github {
    list-style-image: url(../images/github.jpg);
}
LI.causal-facebook {
    list-style-image: url(../images/facebook.png);
}
LI.causal-lastfm {
    list-style-image: url(../images/lastfm.jpg);
}
LI.causal-foursquare {
    list-style-image: url(../images/foursquare.jpg);
}
LI.causal-flickr {
    list-style-image: url(../images/flickr.jpg);
}
LI.causal-googlereader {
    list-style-image: url(../images/googlereader.jpg);
}
LI.causal-delicious {
    list-style-image: url(../images/delicious.jpg);
}
LI.causal-tumblr {
    list-style-image: url(../images/tumblr.jpg);
}
A.causal-twitter {
    background: transparent url(../images/twitter.jpg) no-repeat 50% 50%;
}
A.causal-github {
    background: transparent url(../images/github.jpg) no-repeat 50% 50%;
}
A.causal-facebook {
    background: transparent url(../images/facebook.png) no-repeat 50% 50%;
}
A.causal-lastfm {
    background: transparent url(../images/lastfm.jpg) no-repeat 50% 50%;
}
A.causal-foursquare {
    background: transparent url(../images/foursquare.jpg) no-repeat 50% 50%;
}
A.causal-flickr {
    background: transparent url(../images/flickr.jpg) no-repeat 50% 50%;
}
A.causal-googlereader {
    background: transparent url(../images/googlereader.jpg) no-repeat 50% 50%;
}
A.causal-delicious {
    background: transparent url(../images/delicious.jpg) no-repeat 50% 50%;
}
A.causal-tumblr {
    background: transparent url(../images/tumblr.jpg) no-repeat 50% 50%;
}
A.causal-timeline {
    background: transparent url(../images/time.png) no-repeat 50% 50%;
}

/* Profile */

DIV.share_wrapper {
    float: right;
    clear: none;
    margin-right: 25%;
    margin-bottom: 1ex;
    margin-top: 1.5ex;
}
HR {
    width: 90%;
    margin-left: 0;
    margin-right: 25%;
    clear: both;
}
DIV.share_buttons {
    float: right;
    clear: none;
    margin-right: 25%;
}

BUTTON.delete_button {
    float: left;
    margin-top: 1ex;
    margin-right: 2em;
    height: 3ex;
    width: 2em;
}

BUTTON.delete_button .ui-button-text {
    color: red;
    font-weight: bold;
    padding: 0.1ex 0.5ex 0.5ex 0.5ex;
}

.ui-widget-overlay {
    cursor: pointer;
}
