<h3>{{ service.handler.display_name }}</h3>
{% if not service.setup%}
    No username for {{ service.handler.display_name }}.
{% endif %}
<form action="{{ service.handler.get_auth_url }}" method="post">
    {% csrf_token %}
    <div>
        <label for="id_{{ service.class_name }}_username">Username:</label>
        <input type="text" name="username" id="id_{{ service.class_name }}_username" value="{{ service.auth.username }}" />
        <input type="submit" value="Submit" />
    </div>
</form>
