<h3>{{ service.app.module.DISPLAY_NAME }}</h3>
{% if not service.setup%}
    No username for {{ service.app.module.DISPLAY_NAME }}.
{% endif %}
<form action="{{ service.get_auth_url }}" method="post">
    {% csrf_token %}
    <div>
        <label for="id_{{ service.class_name }}_username">Username:</label>
        {% with service.requesttoken_set.all.0.accesstoken.username as username %}
            <input type="text" name="username" id="id_{{ service.class_name }}_username" value="{{ username }}" />
        {% endwith %}
        <input type="submit" value="Submit" />
    </div>
</form>
